# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#tests related
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Model artifacts
*.pkl
models/
